.fond {
  position: relative;
}
.fond::after{ /* le fond d'écran dans la partie home, z index pour qu'il soit en arrière plan  */
  content:"";
  background: url('Images/Source-image-file.jpg') no-repeat center;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;   
  height:100%; 
  z-index:-1;
  opacity: 0.1;  
} 
.img-pdp{
    align-items: middle;
    width: auto;
    max-width: 300px;
    height: auto;
    margin-left: 20%;
}
.img-bhn{
    align-items: middle;
    width: auto;
    max-width: 500px;
    height: auto;
    margin-left:20%;
}
#firstPara{
    vertical-align: middle;
    margin-top: 100px;
}
.btncv { /* décoration du bouton pour télécharger le cv*/
  width: 100%;
  background-color:#0BCEAF;;
  border-radius: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btncv:hover {
  background-color:#0BCEAF;;
}

.btnmsg { /* le bouton submit de la section contact*/
  width: 100%;
  background-color:#0BCEAF;;
  border-radius: 25px;
  color: white;
  padding: auto;
  cursor: pointer;
  font-size: 20px;
}
.text-box-6{
  visibility: hidden; /* pour l'easter egg*/
}
.btnmsg:hover {
  background-color:#5bbfae;
}
.progress{
  background-color: #9D9C9C;
}
.right{
  text-align:right;
}
@media screen and (max-width:270px){ /* j'avais un problème dû à la police en dessous de 270px de large(vu que ça peut quand même se trouver) donc je l'ai reglé en modifiant la police des parties qui m'embêtaient quand j'était en dessous de 270px de large*/
  .text-box-5{
    font-size: 8px;
  }
  .text-box-4{
    font-size: 8px;
  }
  .text-box-6{
    font-size: 5px;
  }
  #firstPara.h4{
    font-size: 3px;
  }
}
.circle{ /* mes 4 fontions pour faire mes cercles, malheureusement j'ai pas réussi à les reproduires fidèlements*/
  width: 50%;
  border-radius: 50%;
  background: none;
  border: 5px solid; 
  border-style:dashed; 
  border-color: #0BCEAF;
  left:25%;
}
.circle::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle{position: relative;
line-height: 0;
}
.circle .txt{
  position:absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}
.txt-skills{
  position:relative;
  text-align: center;
}
.portfolio .nav-link{ /* au lieu que le texte soit bleu je l'ai mis noir dans la navbar du portfolio */
  color: black;
}
.portfolio .nav-link.active{ /* couleur de la navbar section portfolio*/
  color:#0BCEAF;
}
.fond-end {
  position: relative;
}
.fond-end::after{ /* deuxième fond, celui que j'ai utilisé dans la section contact, j'ai juste changé l'opacité par rapport à celui utilisé dans la section home*/
  content:"";
  background: url('Images/world-end.png') no-repeat center;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;   
  height:100%; 
  z-index:-1;
  opacity: 0.7;  
} 
.icon1{ /* c'est l'icone bullseye de la box1 vu que contrairement aux icones de la box 2 et 3 sa couleur n'était pas déjà dans Bootstrap */
  color:#9774FA;
}
.bulle-intro{ /* c'est la bulle Hello I'm de la section home */
  display: inline-flex;
  padding: 6px 30.03px 6px 30px;
  align-items: flex-start;
  border-radius: 20px 20px 20px 0px;
  opacity: 0.8;
  background: #0BCEAF;
  color:#fff;
} 