.fond {
  position: relative;
}
.fond::after{
  content:"";
  background: url('Images/Source-image-file.jpg') no-repeat center;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;   
  height:100%; 
  z-index:-1;
  opacity: 0.1;  
} 
.img-pdp{
    align-items: middle;
    width: auto;
    max-width: 300px;
    height: auto;
    margin-left: 20%;
}
.img-bhn{
    align-items: middle;
    width: auto;
    max-width: 500px;
    height: auto;
    margin-left:20%;
}
#firstPara{
    vertical-align: middle;
    margin-top: 100px;
}
.btncv {
  width: 100%;
  background-color:#0BCEAF;;
  border-radius: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btncv:hover {
  background-color:#0BCEAF;;
}

.btnmsg {
  width: 100%;
  background-color:#0BCEAF;;
  border-radius: 25px;
  color: white;
  padding: auto;
  cursor: pointer;
  font-size: 20px;
}
.text-box-6{
  visibility: hidden;
}
.btnmsg:hover {
  background-color:#5bbfae;
}
.progress{
  background-color: #9D9C9C;
}
.right{
  text-align:right;
}
@media screen and (max-width:270px){
  .text-box-5{
    font-size: 8px;
  }
  .text-box-4{
    font-size: 8px;
  }
  .text-box-6{
    font-size: 5px;
  }
  #firstPara.h4{
    font-size: 3px;
  }
}
.circle{
  width: 50%;
  border-radius: 50%;
  background: none;
  border: 5px solid; 
  border-style:dashed; 
  border-color: #0BCEAF;
  left:25%;
}
.circle::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle{position: relative;
line-height: 0;
}
.circle .txt{
  position:absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}
.txt-skills{
  position:relative;
  text-align: center;
}
.portfolio .nav-link{
  color: black;
}
.portfolio .nav-link.active{
  color:#0BCEAF;
}